<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="images/favicon.png"/>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <title>Velcome | Les 3 meilleurs stagiaires de 2021</title>
</head>
<body>
    
    <h1></h1>

    <div id="app">
        <div class="wrap">
            <div v-for="stagiaire in stagiaires" class="stagiaire">
                <h3>{{ stagiaire.nom }}</h3>
                <img :src="'images/stagiaire_' + stagiaire.img + '.jpg'" :alt="stagiaire.nom">
                <ul>
                    <li v-for="pro in stagiaire.pros">{{ pro }}</li>
                </ul>
            </div>
        </div>
    </div>
    
    <script src="anim.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                stagiaires:
                [{
                    nom: "Le curieux",
                    img: "1",
                    pros: ["Créatif", "Dynamique", "\"Eh, au fait, vous saviez que ... ?\""]
                },
                {
                    nom: "Le passionné",
                    img: "2",
                    pros: ["Proactif", "Impliqué", "\"Ah mais on peut en faire son métier ?!\""]
                },
                {
                    nom: "Le perfectionniste",
                    img: "3",
                    pros: ["Rigoureux", "Organisé", "\"C'est pas parfait donc j'ai pas fini !\""]
                }]
            }
        })
    </script>
</body>
</html>