* {
    --primary: #e6e6e6;
    --secondary: #2b2b2b;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--secondary);
    text-align: center;
}

h1 {
    margin: 0;
    padding: 40px 18%;
    background-color: var(--primary);
    text-transform: uppercase;
    font-size: 2.4rem;
    line-height: 2.4rem;
    min-height: 2.4rem;
}

.wrap {
    background-color: var(--secondary);
    min-height: calc(100vh - (80px + 2.4rem));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.stagiaire {
    flex-basis: 30vw;
    max-width: 420px;
    padding: 30px 0;
    margin: 20px 0;
}

@media ( max-width: 800px) {
    .stagiaire {
        flex-basis: 80vw;
    }
}

.stagiaire:nth-child(1) {
    background-color: rgb(248, 238, 99);
}

.stagiaire:nth-child(2) {
    background-color: rgb(248, 89, 89);
}

.stagiaire:nth-child(3) {
    background-color: rgb(96, 193, 238);
}

h3, img {
    width: 90%;
    margin: 0 5%;
}

h3 {
    font-size: 2rem;
    margin-bottom: 30px;
}

ul {
    list-style: none;
    padding: 0 5%;
    margin: 0;
}

li {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
}

li:last-child {
    font-weight: lighter;
    font-size: 1.3rem;
    margin-top: 20px;
}